---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";

const posts = (await getCollection("posts", ({ data }) => data.learning === true))
  .sort((first, second) => first.data.publishedAt.getTime() - second.data.publishedAt.getTime()
  );
---

<Layout title=" Learnings">
  <main class="flex flex-col gap-20">
    <h1 class="text-2xl text-neutral-100">Learnings</h1>
    <div class="w-full rounded-2xl border border-neutral-700 bg-neutral-900/60 p-5 text-neutral-200 shadow-lg space-y-2">
  <div class="flex items-center gap-1">
    <img src="/note-icon.png" alt="Note Icon" class="w-10 h-10 object-contain m-0 p-0" />
    <h2 class="text-base font-semibold text-yellow-400">Note</h2>
  </div>

  <p class="text-sm text-neutral-300 leading-relaxed pl-3">
     Each post below contains more than 5 individual learnings, adding up to a total of around 25 key takeaways.
  </p>
</div>


    <article class="flex flex-col gap-4">
      {
        posts.map((post) => (
          <a
            class="group flex flex-col gap-2 border-t border-neutral-700 py-4 transition-all hover:text-neutral-100"
            href={`/learnings/${post.slug}`}
          >
            <div class="flex w-full items-center justify-between">
              <h2 class="text-lg">{post.data.title}</h2>

              <div class="flex flex-row items-center gap-4">
                <p>{formatDate(post.data.publishedAt)}</p>
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  class="transition-all duration-300 group-hover:translate-x-1"
                >
                  <path
                    d="M5.25 12.75L12.75 5.25"
                    stroke="#999999"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M5.25 5.25H12.75V12.75"
                    stroke="#999999"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
            <p>{post.data.description}</p>
          </a>
        ))
      }
    </article>
  </main>
</Layout>
